.form_element_filters_table {
  width: 100%;
}
.form_element_filters_part {
}
.form_element_filters_part_element {
  vertical-align: top;
}
.form_element_filters_part_element {
  width: 100%;
}
.form_element_filters_part_element_actions {
  vertical-align: top;
  width: 0;
}
.form_element_filters_part_element_actions input {
  margin-left: 5px;
  width: 30px;
}
.form_element_filters_part_actions {
}
table.form .form_element_filters select.form_element_filters_action_add {
  width: auto;
}
table.form .form_element_filters select.form_element_filters_action_add.reached_max {
  display: none;
}
