.form td.field_desc,
.form td.field_value,
.form td.field_value span,
.form td.field_value span *
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.form td.field_desc {
  width: 256px;
  vertical-align: top;
  padding-bottom: 2px;
  padding-right: 0.5em;
}
.form td.field_desc .form_desc,
.form .description {
  font-size: 0.75em;
  font-style: italic;
}
.form td.field_value {
  width: auto;
  padding: 0px;
}
.form td.field_value input[type=text],
.form td.field_value input[type=password],
.form td.field_value textarea,
.form td.field_value select {
  width: 100%;
}
.form label:hover {
  text-decoration: underline;
}
.form .form_element_checkbox div {
}
.form .form_element_select_other > div > .form_element_radio > span,
.form .form_element_select_other > div > .form_element_checkbox > span,
.form .field_value > .form_element_radio > span,
.form .field_value > .form_element_checkbox > span {
  display: block;
}
.form .form_element_select_other > div > .form_element_radio > span > .description,
.form .form_element_select_other > div > .form_element_checkbox > span > .description,
.form .field_value > .form_element_radio > span > .description,
.form .field_value > .form_element_checkbox > span > .description {
  margin-left: 26px;
  display: block;
}
.form .form_element_radio input.radio,
.form .form_element_checkbox input.checkbox {
  width: 25px;
  padding: 0px;
  margin: 0px;
  position: relative;
  *overflow: hidden;
}
.form .form_element_radio span .description,
.form .form_element_checkbox span .description {
  padding-left: 0px;
  text-indent: 0px;
}
.form_autocomp_box {
  border: 1px solid black;
  display: block;
  background: white;
  overflow: auto;
  overflow-y: scroll;
  max-height: 150px;
  min-width: 100px;
  width: 100px;
}
.form_autocomp_entry {
  background: white;
  margin-bottom: 2px;
}
.form_autocomp_selected {
  background: yellow;
  margin-bottom: 2px;
}

.form_orig {
}
.form_modified {
  background: #ffff7f;
}
.form_error {
  color: #ffffff;
  background: #ff0000;
}
