.form_element_array_part_element.form_element_form {
  border: 1px solid #303030;
  margin-bottom: 0.25em;
  padding: 0.25em;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_element_form {
  width: 100%;
}

/* adapt to screen sizes */
/*   <640px   */
.form_element_form.medium td.field_desc {
  width: 128px;
}

/*   <400px   */
.form_element_form.small,
.form_element_form.small > thead,
.form_element_form.small > tbody,
.form_element_form.small > tr,
.form_element_form.small > tr > th,
.form_element_form.small > tr > td
{
  display: block;
}
.form_element_form.small > tr > td.field_desc {
  width: 100%;
}
.form_element_form.small > tr > td.field_value {
  padding-left: 1em;
}
.form_element_form.small > tr {
  padding-bottom: 0.5em;
}
