.form_element_filters_table {
  width: 100%;
}
.form_element_filters_part {
}
.form_element_filters_part_element {
  vertical-align: top;
  width: 100%;
}
.form_element_filters_part_element_actions {
  padding: 0;
}
.form_element_filters_order_removeable .form_element_filters_part_element_actions {
  width: 105px;
}
.form_element_filters_no_order_removeable .form_element_filters_part_element_actions {
  width: 35px;
}
.form_element_filters_order_not_removeable .form_element_filters_part_element_actions {
  width: 75px;
}
.form_element_filters_no_order_not_removeable .form_element_filters_part_element_actions {
  width: 0px;
}
.form_element_filters_part_element_actions input {
  margin-left: 5px;
  width: 30px;
}
.form_element_filters_part_actions {
}
table.form .form_element_filters select.form_element_filters_action_add {
  width: auto;
}
table.form .form_element_filters .form_element_filters_actions.reached_max {
  display: none;
}
