table.form td.field_desc {
  max-width: 256px;
  vertical-align: top;
  padding-bottom: 2px;
}
table.form td.field_value {
}
table.form td.field_value input[type=text],
table.form td.field_value textarea {
  width: 400px;
}
table.form label:hover {
  text-decoration: underline;
}
