.form_element_array_part {
}
.form_element_array_part_element {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #c0c0c0;
}
.form_element_array_part_element_actions {
  display: inline-block;
  vertical-align: top;
}
.form_element_array_part_actions {
}
