.form_element_autocomplete .description ul {
  margin: 0px;
}
.form_element_autocomplete {
  position: relative;
}
.form_element_autocomplete .select_box {
  position: absolute;
  border: 1px solid black;
  background: #E0E0E0;
  margin-top: -2px;
  max-height: 8em;
  width: 100%;
  min-width: 200px; /* needed for IE */
  overflow: auto;
  z-index: 10000;
  cursor: default;
}
.form_element_autocomplete .select_box .selected {
  background: #C0C0C0;
}
